<div>

  <h2>Detalles de la pelicula</h2>

  {{#with this.movieDetails}}

    <h4>Titulo: {{title}}</h4>
    <br />
    <p>Genero: {{genre}}</p>
    <br />
    <p>Trama: {{plot}}</p>
    <br />
    {{#each cast}}
      <p>El protagonista:
        {{this.name}}
        tiene como ocupación
        {{this.occupation}}
        y su eslogan es
        {{this.catchPhrase}}</p>
    {{/each}}

  {{/with}}

  <form action="/movies/{{this.movieDetails._id}}/delete" method="post">
    <button>Borrar</button>
  </form>

</div>